<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyi.lenssdk" >

<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <provider
            android:name="com.qiyi.lens.ui.database.LensProvider"
            android:authorities="${applicationId}.pdFileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>
</manifest>

